/*@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Thin.woff2") format("woff2"),
        url("fonts/Roboto-Thin.woff") format("woff");
}*/

body{
    width: 100%;
}

header{
    width: 1280px;
    margin: 0 auto;
}

main{
    width: 1280px;
    margin: 0 auto;
}

aside{
    display: flex;
    flex-direction: column;
    float: left;
    width: 25%;
    border: 1px solid gray; 
    
}

footer{
    width: 1280px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: none;
    border-bottom: 3px solid blue;
}
.logo{
    color:black;
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    width: 334px;
    height: 79px;
}

.logo2{
    color: blue;
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    width: 334px;
    height: 79px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    box-sizing: border-box;
    width: 1283px;
    height: 72px;
    background-color: #35444F;
}


.point{
    font-size: 24px;
    color: white;
    font-family: Roboto;
    font-style: bold;
    display:block;
    border-left: 1px solid white;
    padding: 24px 45px 18px 38px;
    
}

.point:hover{
    text-decoration: underline;
    text-decoration: none;
    background-color: #222F3A;
}

.point{
    border-right: 1 px solid white;
}

.last{
    border-right: 1px solid white;
}

.list-aside{
    list-style: none;
    font-size: 27px;
    padding-inline-start: 0px;
}

.menu{
    width: 95%;
    height: 70px;
    padding-left: 5%;
}

.menu:hover{
    background: gray;
}

.column{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    width: 62%;
    padding-left:  5%;
}

 .column-first, .column-second{
    width: 885px;
}

.column-inner{
    width: 100%;
    height: 381px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 50px;
    text-align: center;
}

.goat:hover{
    border: 1px solid blue;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}


    
.column-second{
    width: 885px;

}

.list-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 1250px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
}

.point-bottom{
    font-family: Roboto;
    font-size: 28px;
}

.point-bottom:hover{
    text-decoration: none;
    color: blue;
    border-bottom: 2px solid blue;
}

.end{
    padding-left: 135px;
    font-family: Roboto;
    font-size: 28px;
}
